asgiref==3.8.1
black==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
defusedxml==0.7.1
Django==5.2
django-allauth==65.7.0
django-debug-toolbar==5.1.0
django-extensions==4.0
django-filter==25.1
django-htmx==1.23.0
django-widget-tweaks==1.5.0
Faker==37.1.0
idna==3.10
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tzdata==2025.2
urllib3==2.3.0
